main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 165px 0px 0px 0px;
    gap: 80px;
}

main h1{
    text-align: center;
    font-family: "Google Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #656C73;
    margin: 0px;
}

main h2{
    text-align: center;
    font-family: "Google Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #656C73;
    margin: 17px 0px 0px 0px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

input{
    padding: 21px 20px;
    width: 580px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: "Google Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #656C73;
}

button{
    padding: 21px 96px;
    border-radius: 15px;
    background-color: #0F9D58;
    text-align: center;
    font-family: "Google Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #EA4335; /* Animated color */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

@media (max-width: 1200px){
    main{
        margin-top: 200px;
    }

    main h1{
        font-size: 40px;
    }

    main h2{
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    main{
        margin-top: 50px;
    }

    main form{
        gap: 30px;
    }

    input{
        width: 380px;
        font-size: 15px;
        padding: 10px 20px;
    }

    main button{
        font-size: 15px;
        padding: 10px 20px;
    }
}

@media (max-width: 650px){
    main h1{
        font-size: 30px;
    }

    main h2{
        font-size: 15px;
        margin-top: 10px;
    }
    main{
        margin-top: 30px;
    }
}

@media (max-width: 480px){
    main{
        margin-top: 15px;
        gap: 80px
    }


    input{
        padding: 21px 20px;
        width: 70%;
    }

    button{
        padding: 30px 20px;
        width: 70%;

    }
}